/*
Sba
Content CSS
$Revision: 1.1 $
*/

#content {
background-color: #ffffff;
margin-left: 185px;
margin-right: 10px;
padding: 30px 30px 10px;
border:1px solid #999999;
/* http://www.constile.org/tips/min-height/#CONTENUTI (per dare min-height ad entrambi i browser */	
min-width: 600px;
min-height: 400px;
height: auto !important;
height: 400px; 

}

/*#briciole{
	background-color: #eeeeee;
	font: 80% Arial, Helvetica, sans-serif;
}*/
