/* 
Sba 
global CSS
$Revision: 1.1 $ 
*/

html {
  /* this is a hack to force scrollbars on at 
     all times so that the page does not jump
     when going from short to long pages */
  height: 100%;
  margin-bottom: 1px;
  background: #fff;
}

body, document {
	margin: 0;
	padding: 0;
	/*color: #4b4b4b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;*/
	}

body {
	margin: 0;
	padding: 0;
	/*
	background-image: url(../images/sfondo.jpg);
	background-color: #dfdfdf;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: repeat-x;
	*/
}

a img{
  border: 0px;
}


/* il testo viene viene sempre racchiuso all'interno di p */
p {
		  margin-top: 10px;
  			margin-bottom: 15px;
	}
/* gli elementi h1 h2 h3 vengono utilizzati in ordine di importanza decrescente per i titoli */

h1, h2, h3, h4, h4 {
	/* setup some more readable header spacing */
	padding-bottom: 5px;
	margin: 15px 0 0px 0;
}

/* per differenziare h1,2,3,4 associare una class */

body {
	font-size: 13px;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 180%;
}

h3 { 
   font-size: 150%;
}

h4 {
	font-size:  120%;
}


/* vanno definite le caratteristiche dei font per gli elementi successivi solo se differiscono dalla base */
	/* usare la virgola per definire allo stesso modo pi classi es. body,td, {font-size: 85%;color: #4b4b4b;} */
		/* se tutti gli stati di a sono uguali si possono omettere le definizioni successive alla prima */
a {
	color: #005fa9
}
a:link {
	color: #005fa9
}
	/* a:visited {
	color: #666666
	}*/

a:hover {
	color: #33A4FF
}
a:active {
	color: #33A4FF
}

body {
		line-height: 135%;
		font-family: Arial, Helvetica, sans-serif;
		color: #1D2D45;
		
}

html {
	background: #666666 url(../images/bg.png) 0 0 repeat-x;
}
