/*
Sba
Sidebar CSS
$Revision: 1.1 $
*/

#sidebar {
position:absolute; 
top: 0px; 
left: 0px; 
width: 167px;
}

#etichetta {
	position:relative;
	display: block;
	background: #2C75AB;
	/*#4F9AD2;*/
	vertical-align: middle;
	width: 154px;
	color: #ffffff;
	text-align: left;
	padding: 6px;
	font-size: 160%;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	}
#immagine_tab {

	}
#navbar {

	}
	
#etichetta a {
	color: #ffffff;
	text-decoration: none;
	}

/* primo livello menu navbar (esempio polo principale) */		
.navbar1lev, a.navbar1lev:link, a.navbar1lev:visited, a.navbar1lev:active {
	background: #2C75AB;
	color: #ffffff;
	
	position:relative;
	display: block;
	padding-left: 6px;
	vertical-align: middle;
	width: 160px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	}
		
/* hover e class che identifica il link della pagina attuale */
a.navbar1lev:hover, 
.navbar1levhover, a.navbarhover1lev:link, a.navbarhover1lev:visited, a.navbarhover1lev:visited, a.navbarhover1lev:hover{
	background: #4F9AD2;
	color: #ffffff;
	/* parte uguale al menu sopra */
	position:relative;
	display: block;
	padding-left: 6px;
	vertical-align: middle;
	width: 160px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	}
				
/* secondo livello menu sidebar (esempio economia) */
a.navbar2lev:link, a.navbar2lev:visited, a.navbar2lev:active {
	color: #000000;
	background: #ececec;
	
	position:relative;
	display: block;
	padding-left: 10px;
	vertical-align: text-bottom;
	width: 152px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #c8c8c8;
	}
/* hover e class che identificano il link della pagina attuale */
a.navbar2lev:hover, 
.navbarhover2lev, a.navbarhover2lev:link, a.navbarhover2lev:visited, a.navbarhover2lev:hover, a.navbarhover2lev:active     {
	color: #000000;
	background: #D5E7F4;
	border-left-color: #747474;
	/* parte uguale al menu sopra */
	position:relative;
	display: block;
	padding-left: 10px;
	vertical-align: text-bottom;
	width: 152px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 5px;
	border-left-style: solid;	
	}
				
/* terzo livello menu sidebar (esempio economia e tecnica aziendale) */
.navbar3lev, a.navbar3lev:link, a.navbar3lev:visited, a.navbar3lev:active {
	color: #000000;
	background: #ececec;
	
	position:relative;
	display: block;
	padding-left: 10px;
	vertical-align: text-bottom;
	width: 139px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #c8c8c8;
	left: 15px;
	}
/* hover e class che identificano il link della pagina attuale */
a.navbar3lev:hover,
.navbarhover3lev, a.navbarhover3lev:link, a.navbarhover3lev:visited, a.navbarhover3lev:active, a.navbarhover3lev:hover {
	color: #000000;
	background: #d5e7f4;
	border-left-color: #747474;
	/* parte uguale al menu sopra */
	position:relative;
	display: block;
	padding-left: 10px;
	vertical-align: text-bottom;
	width: 139px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 3px;
	border-left-style: solid;
	left: 15px;
	}
		
/* quarto livello menu sidebar (esempio sotto pagina di economia e tecnica aziendale) */
.navbar4lev, a.navbar4lev:link, a.navbar4lev:visited, a.navbar4lev:active {
	color: #000000;
	background: #ececec;
	
	position:relative;
	display: block;
	padding-left: 10px;
	vertical-align: text-bottom;
	width: 131px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #c8c8c8;
	left: 25px;
	}
/* hover e class che identificano il link della pagina attuale */
a.navbar4lev:hover, 
.navbarhover4lev, a.navbarhover4lev:link, a.navbarhover4lev:visited, a.navbarhover4lev:hover, a.navbarhover4lev:active {
	color: #000000;
	background: #d5e7f4;
	border-left-color: #747474;
	/* parte uguale al menu sopra */
	position:relative;
	display: block;
	padding-left: 10px;
	vertical-align: text-bottom;
	width: 131px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	left: 25px;
	}
		
		.imgright {
	position:absolute;
	right:5px;
	vertical-align: middle;
	padding-top: 4px;
		}
