#menuHolder {}
#menuHolder ul {margin:0; padding:0; list-style:none; width:100%; }

#menuOuter table {border-collapse:collapse; width:0; height:0; margin:-1px 0;}
#menuInner {background: #a9a9a9; width: 100%;}
#menuInner ul {position:absolute; left:-9999px; width:100%; background:#666;}
#menuInner ul li {background:#666; }
#menuInner ul li:hover {background:#ccc;}


/* 3 livello */
#menuInner ul li ul li a {line-height:20px; min-height:15px; margin-left: 15px;
	vertical-align: bottom;
}
#menuInner ul li ul li a:hover {background:#ccc; color:#000; margin-left: 15px;} 


/* 2 livello */
#menuInner ul li a {line-height:25px; min-height:25px; margin-left: 10px;
	list-style-position: outside;
}
#menuInner ul li a:hover {background:#ccc; color:#000; margin-left: 10px;}

#menuInner li {display:block; width:100%; background:url(../images/vmenuitemclosed.png) no-repeat; } 

* html #menuInner li {float:left; }

/* 1 livello  color fff*/
#menuInner li a {display:block; min-height:30px; color:#000; font:normal 11px/28px verdana, sans-serif; 
	text-decoration:none; text-align:left; margin-left: 22px;
	list-style-type: disc;
	list-style-position: inside;
} 
#menuInner li a:hover {border:0; margin-left: 22px; } 
#menuInner li:hover > a {} 
#menuInner li:hover {background:url(../images/vmenuitemdown.png) no-repeat;}


#menuInner :hover ul {position:static;}

#menuOuter :hover ul li.current {background:url(../images/vmenuitemclosed.png) no-repeat;}
#menuOuter ul li.current {background:url(../images/vmenuitemdown.png) no-repeat;}
#menuOuter ul li ul li.current {background: #666;}

#menuOuter ul li.current ul {position:static;}
#menuOuter ul li.current a {}
#menuOuter ul li.current ul li a {line-height:25px; min-height:25px;}
#menuOuter ul li.current ul li.currentSub a {background:#ccc; color:#000;}

#menuOuter a:hover {/* white-space:nowrap; */}

#menuOuter :hover ul li.current ul li a {line-height:25px; min-height:25px; color:#fff;}
#menuOuter :hover ul li.current ul li a:hover {background:#ccc; color:#000;}

/* #menuOuter :hover ul li.current ul {position:absolute; left:-9999px;} */

#menuOuter :hover ul li.current a:hover ul {position:static;}
#menuOuter :hover ul li.current:hover ul {position:static;}
#menuOuter ul li.current:hover {background:url(../images/vmenuitemdown.png) no-repeat;}
