/*
Sba
Tabella CSS
$Revision: 1.1 $
*/
.tabella {
	margin-bottom: 0px;
}

table {
	margin-bottom: 1em;
	border-spacing: 0px;
	border-collapse: collapse;
	border-bottom: solid 1px #7b8689;
	border-right: solid 1px #7b8689
}

th {
	background-color: #DAE3E4;
	text-align: left;
	font-weight: bold;
}

th,td {
	padding: 0.35em 10px;
	/* vertical-align: top; */
	border-top: solid 1px #7b8689;
	border-left: solid 1px #7b8689;
}

.tabella_titolo {
	font-weight: bold;
	text-align: left;
	font-size: 14px;
	color: #2979AF;
}

.tabella_testo {
	font-size: 12px;
}

.tabella_voci {
	
}

.tabella_area {
	background-color: #ffffff;
}

.tabella_area_oscurata {
	background-color: #CCCCCC;
}

/* 
TABLE summary=Descrizione delle funzioni della tabella e aiuto ai browser non visuali
CAPTION Titolo della tabella /CAPTION
*/
caption {
	padding-bottom: 0.5em
}

/* tbody contenitore di una o pi righe di tabella ha la funzione di dividere le zone con funzioni strutturali diverse permettendo di assegnare stili diversi */
tbody {
	
}

/* colgroup e col contenitore di una o pi colonne di tabella hanno la funzione di dividere le zone con funzioni strutturali diverse permettendo di assegnare stili diversi */
colgroup {
	
}

col {
	
}

/* contenitotri di header e footer della tabella usabili una sola volta possono contenere una o pi righe */
thead {
	
}

tfoot {
	
}

.table_order_select {
	clear: left;
	float: right;
}

.tabella select {
	width: 70px;
}