/*
Sba
Sezione CSS
$Revision: 1.1 $
*/

/* sezione */ 
.sezione {
	margin-bottom: 0px;
	vertical-align: top;
	
	/*
	min-height: 70px;
	height: auto !important;
	height: 70px;
	*/
	
}
/* per evitare che l'immagine vada a sovrapporsi alla sezione sotto inserire l'hr subito prima della chiusura del div sezione */
/*div.sezione hr {display: block; clear: left; margin: -0.66em 0;
  visibility: hidden;}
*/

/* sezione_immagine */
.sezione_immagine {
	position: relative;
	float: left;
	/*margin-left: -1px;*/
	margin-bottom: 4px;
}

/* sezione_contenuto */
.sezione_contenuto {
	margin-left: 70px;
	padding: 0 0 0 10px;
}

/* classi da associare a h1, p  */
.sezione_titolo {
	}
.sezione_testo {
}
div.clearer {
	clear: left;
	line-height: 0;
	height: 0px;
	/*border-width: 1px;
	border-style: solid;
	border-color: #999999;
	*/
	}

.monospace {
	font-family: "Courier New", Courier, mono;
}

.sezione .modifica select {
	float: right;
}

.sezione .sezione_immagine select {
	width: 70px;
}