HTML {
	MARGIN-BOTTOM: 1px; HEIGHT: 100%
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 135%; PADDING-TOP: 0px; FONT-FAMILY: Arial
}
BODY.f-smaller {
	FONT-SIZE: 10px
}
BODY {
	FONT-SIZE: 12px
}
BODY.f-default {
	FONT-SIZE: 12px
}
BODY.f-larger {
	FONT-SIZE: 15px
}
P {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 15px
}
H1 {
	PADDING-BOTTOM: 5px; MARGIN: 15px 0px
}
H2 {
	PADDING-BOTTOM: 5px; MARGIN: 15px 0px
}
H3 {
	PADDING-BOTTOM: 5px; MARGIN: 15px 0px
}
H4 {
	PADDING-BOTTOM: 5px; MARGIN: 15px 0px
}
H4 {
	PADDING-BOTTOM: 5px; MARGIN: 15px 0px
}
H1 {
	FONT-SIZE: 200%
}
H2 {
	FONT-SIZE: 175%
}
H3 {
	FONT-SIZE: 150%
}
H4 {
	FONT-SIZE: 120%
}
A {
	COLOR: #ab0900; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.small {
	FONT-SIZE: 95%
}
.modifydate {
	FONT-SIZE: 95%
}
.createdate {
	FONT-SIZE: 95%
}
DIV.mosimage_caption {
	FONT-SIZE: 95%
}
.componentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 170%; PADDING-BOTTOM: 0px; MARGIN: 20px 0px; LINE-HEIGHT: 100%; PADDING-TOP: 0px
}
.contentheading {
	FONT-SIZE: 170%; WIDTH: 100%; COLOR: #02576b; LINE-HEIGHT: 30px; FONT-FAMILY: Tahoma, sans-serif; HEIGHT: 30px
}
TD.buttonheading {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
.contentpaneopen TD.buttonheading {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
TD.column_separator {
	PADDING-LEFT: 15px
}
TD.componentheading {
	PADDING-BOTTOM: 15px
}
.sectiontableheader {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #f3fbff; PADDING-BOTTOM: 4px; LINE-HEIGHT: 20px; PADDING-TOP: 4px; BORDER-BOTTOM: #cee0e4 1px solid
}
TR.sectiontableentry1 TD {
	PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #cee0e4 1px solid; TEXT-ALIGN: left
}
TR.sectiontableentry2 TD {
	PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #cee0e4 1px solid; TEXT-ALIGN: left
}
.sectiontableentry2 {
	BACKGROUND: #f3fbff
}
.contentpane {
	WIDTH: 100%
}
.contentpaneopen {
	WIDTH: 100%
}
#menu-bar {
	BACKGROUND: url(../images/menu-bg.png) repeat-x 0px 0px; HEIGHT: 56px
}
#inset {
	BORDER-TOP: #d9f3f9 1px solid; BACKGROUND: url(../images/inset-banner.jpg) #c7dce1 no-repeat 50% 0px; OVERFLOW: hidden; HEIGHT: 200px
}
#inset .content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; WIDTH: 60%; PADDING-TOP: 20px
}
#content {
	BACKGROUND: url(../images/page-bg.png) #f6fcfc repeat-x 0px 0px; PADDING-BOTTOM: 25px; PADDING-TOP: 15px
}
#sidecol {
	FLOAT: left
}
#side-column {
	BACKGROUND: #e7f9fb; WIDTH: 93%
}
#side-column .padding {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#side-column .inner {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#main-column {
	BACKGROUND: #e7f9fb; 
}
#main-column .padding {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#main-column .inner {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#main-column .contentpadding {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#bottom {
	BACKGROUND: url(../images/bottom-bg.png) #ddebf1 repeat-x 0px 0px
}
#logo {
	MARGIN-TOP: 20px; BACKGROUND: url(../images/logo.png) no-repeat 0px 0px; WIDTH: 302px; HEIGHT: 129px
}
#topmodules {
	OVERFLOW: hidden
}
#component {
	OVERFLOW: hidden
}
#bottommodules {
	OVERFLOW: hidden
}
#component .padding {
	PADDING-LEFT: 10px
}
.extraspace#content #component .padding {
	PADDING-RIGHT: 25px
}
.spacer .block {
	FLOAT: left
}
.spacer .w99 .block {
	WIDTH: 99%
}
.w49 .block {
	WIDTH: 49%
}
.w33 .block {
	WIDTH: 33%
}
/* originale joomla
IMG#rocket {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 10px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/rocket.png) no-repeat 0px 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 10px; WIDTH: 146px; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
*/
IMG#jopac {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 10px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/jopac.png) no-repeat 0px 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 10px; WIDTH: 186px; HEIGHT: 69px; BORDER-RIGHT-WIDTH: 0px
}
.moduletable {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 20px
}
.moduletable-hilite1 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 20px
}
.moduletable H3 {
	BORDER-RIGHT: #b7ecf5 3px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b7ecf5 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 120%; BACKGROUND: url(../images/module-h3.png) #daeffa repeat-x 0px 0px; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 10px; BORDER-LEFT: #b7ecf5 3px solid; COLOR: #02576b; PADDING-TOP: 5px; BORDER-BOTTOM: #b7ecf5 1px solid; FONT-FAMILY: Tahoma, Helvetica, Arial Narrow
}
.moduletable-hilite1 H3 {
	BORDER-RIGHT: #b7ecf5 3px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b7ecf5 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 120%; BACKGROUND: url(../images/module-h3.png) #daeffa repeat-x 0px 0px; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 10px; BORDER-LEFT: #b7ecf5 3px solid; COLOR: #02576b; PADDING-TOP: 5px; BORDER-BOTTOM: #b7ecf5 1px solid; FONT-FAMILY: Tahoma, Helvetica, Arial Narrow
}
#inset .moduletable H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 180%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 10px; TEXT-TRANSFORM: none; COLOR: #02576b; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#top .moduletable {
	BORDER-RIGHT: #cee0e4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cee0e4 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f3fbff; PADDING-BOTTOM: 5px; MARGIN: 5px 5px 20px; BORDER-LEFT: #cee0e4 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cee0e4 1px solid
}
#topmodules .moduletable {
	MARGIN: 0px 10px 0px 5px
}
#topmodules .moduletable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 17px; BACKGROUND: url(../images/module-corner.png) no-repeat 0px 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 0px
}
#side-column .moduletable-hilite1 {
	BORDER-RIGHT: #d7ebf0 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #d7ebf0 1px solid; PADDING-LEFT: 8px; BACKGROUND: url(../images/hilite1-bg.png) #f2feff no-repeat 0px 100%; PADDING-BOTTOM: 8px; BORDER-LEFT: #d7ebf0 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #d7ebf0 1px solid
}
#side-column .moduletable-hilite1 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 130%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; TEXT-TRANSFORM: none; COLOR: #02576b; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#bottommodules .moduletable {
	BORDER-RIGHT: #d7ebf0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d7ebf0 1px solid; PADDING-LEFT: 5px; BACKGROUND: url(../images/bottommod-bg.png) #fff repeat-x 0px 0px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: #d7ebf0 1px solid; MARGIN-RIGHT: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #d7ebf0 1px solid
}
#bottommodules .moduletable H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 130%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; TEXT-TRANSFORM: none; COLOR: #02576b; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#topmodules .moduletable H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 130%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; TEXT-TRANSFORM: none; COLOR: #02576b; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#top .moduletable H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 130%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; TEXT-TRANSFORM: none; COLOR: #02576b; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; FONT-FAMILY: Tahoma; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#bottom .moduletable H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 140%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px; MARGIN: 40px 0px 10px; TEXT-TRANSFORM: none; COLOR: #465f65; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; FONT-FAMILY: Tahoma; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
#footermodules .moduletable {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}
#horiz-menu {
	HEIGHT: 56px
}
#horiz-menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#horiz-menu LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#horiz-menu A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: normal; BACKGROUND: url(../images/menu-divider.png) no-repeat 100% 0px; FLOAT: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff; LINE-HEIGHT: 53px; PADDING-TOP: 0px; FONT-FAMILY: Arial Narrow, Helvetica, sans-serif; WHITE-SPACE: nowrap; HEIGHT: 53px
}
#horiz-menu LI.active {
	BACKGROUND: url(../images/active-menu-r.png) 100% 0px
}
#horiz-menu LI.active_menu {
	BACKGROUND: url(../images/active-menu-r.png) 100% 0px
}
#horiz-menu LI.active A {
	BACKGROUND: url(../images/active-menu-l.png) no-repeat 0px 0px; COLOR: #000
}
#horiz-menu LI.active_menu A {
	BACKGROUND: url(../images/active-menu-l.png) no-repeat 0px 0px; COLOR: #000
}
#horiz-menu A:hover {
	COLOR: #ccc; TEXT-DECORATION: none
}
UL.sidenav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.sidenav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.sidenav LI.active A {
	COLOR: #000
}
A.mainlevel#active_menu {
	COLOR: #000
}
UL.sidenav LI.active LI A {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; COLOR: #ab0900
}
UL.sidenav SPAN {
	DISPLAY: block
}
UL.sidenav A {
	DISPLAY: block; FONT-SIZE: 120%; COLOR: #ab0900; TEXT-INDENT: 20px; LINE-HEIGHT: 25px; FONT-FAMILY: Tahoma, Helvetica, Arial, sans-serif
}
UL.sidenav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 35px; PADDING-TOP: 0px
}
UL.sidenav UL UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.sidenav LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.sidenav UL A {
	FONT-SIZE: 100%; BACKGROUND-IMAGE: none; TEXT-INDENT: 0px; FONT-FAMILY: Tahoma, Helvetica, Arial, sans-serif
}
UL.sidenav UL UL A {
	TEXT-INDENT: 15px
}
UL.sidenav UL UL UL A {
	TEXT-INDENT: 30px
}
A.mainlevel {
	DISPLAY: block; FONT-SIZE: 120%; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ab0900; TEXT-INDENT: 20px; LINE-HEIGHT: 25px; FONT-FAMILY: Tahoma, Helvetica, Arial, sans-serif
}
A.sublevel {
	DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; WIDTH: 80%; TEXT-INDENT: 30px; LINE-HEIGHT: 25px; FONT-FAMILY: Tahoma, Helvetica, Arial, sans-serif
}
.readon {
	BORDER-RIGHT: #f3fbfd 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #f3fbfd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: url(../images/readon.png) #e2f6f9 no-repeat 100% 50%; PADDING-BOTTOM: 3px; MARGIN: 10px 0px 0px; BORDER-LEFT: #f3fbfd 1px solid; WIDTH: 75px; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: #f3fbfd 1px solid; FONT-STYLE: italic; FONT-FAMILY: Arial Narrow, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.readon:hover {
	TEXT-DECORATION: underline
}
#inset .readon {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/inset-readon.png) no-repeat 0px 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 10px 0px 0px; WIDTH: 78px; COLOR: #fff; HEIGHT: 23px; BORDER-RIGHT-WIDTH: 0px
}
SPAN.pathway {
	MARGIN-TOP: 5px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: normal; MARGIN-BOTTOM: 10px; LINE-HEIGHT: 1.2em
}
SPAN.pathway IMG {
	PADDING-RIGHT: 10px; BACKGROUND: url(../images/bullet.png) no-repeat 0px 50%; FLOAT: left; WIDTH: 9px; HEIGHT: 11px
}
SPAN.pathway A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 10px
}
UL LI {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/bullet-2.png) no-repeat 0px 6px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
PRE {
	BORDER-RIGHT: #cee0e4 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cee0e4 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f3fbff; PADDING-BOTTOM: 10px; BORDER-LEFT: #cee0e4 1px solid; COLOR: #02576b; PADDING-TOP: 10px; BORDER-BOTTOM: #cee0e4 1px solid
}
BLOCKQUOTE {
	BORDER-RIGHT: #cee0e4 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cee0e4 1px solid; PADDING-LEFT: 30px; FONT-SIZE: 110%; BACKGROUND: url(../images/quote.png) #f3fbff no-repeat 0px 0px; PADDING-BOTTOM: 10px; MARGIN: 15px 0px; BORDER-LEFT: #cee0e4 1px solid; WIDTH: auto; COLOR: #02576b; LINE-HEIGHT: 150%; PADDING-TOP: 10px; BORDER-BOTTOM: #cee0e4 1px solid; FONT-STYLE: italic
}
SPAN.alert {
	BORDER-TOP: #fe7b7a 3px solid; BACKGROUND: url(../images/status-alert.png) #ffd6d6 no-repeat 10px 50%; COLOR: #c00; BORDER-BOTTOM: #fe7b7a 3px solid
}
SPAN.info {
	BORDER-TOP: #629de3 3px solid; BACKGROUND: url(../images/status-info.png) #d8e5f8 no-repeat 10px 50%; COLOR: #0055bb; BORDER-BOTTOM: #629de3 3px solid
}
SPAN.note {
	BORDER-TOP: #fde179 3px solid; BACKGROUND: url(../images/status-note.png) #fef6d8 no-repeat 10px 50%; COLOR: #b79000; BORDER-BOTTOM: #fde179 3px solid
}
SPAN.download {
	BORDER-TOP: #c2df88 3px solid; BACKGROUND: url(../images/status-download.png) #eef7dd no-repeat 10px 50%; COLOR: #57861a; BORDER-BOTTOM: #c2df88 3px solid
}
SPAN.alert {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 45px; PADDING-BOTTOM: 10px; MARGIN: 15px 0px; PADDING-TOP: 10px
}
SPAN.info {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 45px; PADDING-BOTTOM: 10px; MARGIN: 15px 0px; PADDING-TOP: 10px
}
SPAN.download {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 45px; PADDING-BOTTOM: 10px; MARGIN: 15px 0px; PADDING-TOP: 10px
}
SPAN.note {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 45px; PADDING-BOTTOM: 10px; MARGIN: 15px 0px; PADDING-TOP: 10px
}
A.nounder {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; CURSOR: pointer; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
A.nounder:hover {
	TEXT-DECORATION: none
}
.clr {
	CLEAR: both
}
FIELDSET.input {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
