/*
benessere
stampa CSS
$Revision: 1.0 $
*/

/*********** elementi non visualizzati in stampa ***********/
#masthead {
	display: none;
}

#horiz-menu {
	display: none;
}

#scelta {
	display: none;
}

#footer {
	display: none;
}


body{
	font-family: thaoma, Arial,sans-serif;
	font-size: 9pt;
	margin: 0px;
	padding: 1px; /*padding 1 perchè altrimenti la stampa taglia il bordo sinistro della tabella*/
}