/*Documento CSS*/
html, body{}
body{
	margin-left:0.5%; 
	margin-right:0.5%; 685d49
	margin-top:0; 
	background-color:white;
/*	background-image:url("http://www.units.it/img/BGsigillostoricoright85.jpg");*/
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:98% 0;
	font: 80%   Verdana, Arial, Helvetica, sans-serif;
}

/* PAGINA */

div#container{
	position:static;
	width:100%; 
/*	min-width:800px; */
}

/* INTESTAZIONE */
div#intestazione{
	position:relative;
}

div#arealogo{
	float:left;
}

div#areasearch{
	float:right;
	text-align:right;
	margin:0 1% 0 0;
}

div#fineintestazione{
	float:left;
	width:100%;
	border-width:5px;
	border-bottom-style:solid;
	border-color:#fff;
	height:2px;
}



/* CORPO */
div#corpo{
	float:left;
	width:100%;
	margin:5px 0px 5px 0px;
	min-height:340px;
}

/* HOMEPAGE */

div#homeimg{
	float:left;
	left:10px;
	right:10px;
	width:48%;
	max-width:475px;
	margin-right:10px;
}

/* NEWS E AGENDA */
div#homeagenda,
div#homeavvisi,
div#homeevi,
div#homeeviline {
	float:left; 
	margin: 3px 0 3px 0; 
	width:50%;
}

div#homeevi{
	font-size:11px;
}

div#homeeviclear{
	clear:both;
	padding: 3px 0px 0 0px;
	font-size: 11px;
	width:100%;
}

div.evidenza {
	float:left; 
	border:solid #D4D0BC 1px ;
	margin:0 1px 3px 1px; 
	padding:0 2px 0 2px;
	text-align:center; 
	min-height:60px;
	width:140px;
}

div.permanent_icone{margin:3px 0 3px 1px;}


h5.Labelevidenza {
/*	border:solid #D4D0BC 1px ; */
	border:solid #1F3D5A 1px ; 
	margin:0 0 2px 0; 
	padding:0 1px 0 1px;
	color:#1F3D5A;
	background-color:#D4D0BC;
	text-align:center;	
}

.Labelevidenza { 
	font-size:90%;
	color:#1F3D5A;
	text-decoration:none;
	font-weight:bolder;
}



/* link voci di agenda  avvisi agenda e news nei menu */
	div#homeagenda A.news:link ,	div#homeavvisi A.news:link ,	div#menusx A.news:link , div#menusx A.menu:link , div#homeeviclear A.menu:link, div#homeevi A.menu:link,  div#homeeviline A.menu:link{
		text-decoration:none;
		color:#607D91;
		font-weight:normal;
	}
	
	div#homeagenda A.news:visited , div#homeavvisi A.news:visited , div#menusx A.news:visited , div#menusx A.menu:visited , div#homeeviclear A.menu:visited, div#homeevi A.menu:visited, div#homeeviline A.menu:visited{
		text-decoration:none;
		color:#685D49; 
		font-weight:normal;
	}
	div#homeagenda A.news:active, div#homeavvisi A.news:active , div#menusx A.news:active , div#menusx A.menu:active , div#homeeviclear A.menu:active, div#homeevi A.menu:active  div#homeeviline A.menu:active {
		text-decoration:underline;
	}
	
	div#homeagenda A.news:hover , div#homeavvisi A.news:hover, div#menusx A.news:hover, div#menusx A.menu:hover , div#homeeviclear A.menu:hover , div#homeevi A.menu:hover , div#homeeviline A.menu:hover{
		text-decoration:none;
		background-color:#D4D0BC;
		color:#1F3D54;
	}
	span.menu, span.news{
		padding-top:5px; 
		text-decoration:none; 
		color:#1F3D5A; 
		font-weight:bold;
	}
h3.news , h4.news{
	border-bottom:1px solid #1F3D5A;
	color:#1F3D5A;
	padding:0 10px 2px 10px;
	margin:8px 0 2px 0;
	text-align:center;	
}


.datanews { 
	font-size:85%;
	color:#1F3D5A;
	text-decoration:none;
	font-weight:bolder;
}



/* MENU SINISTRO */
div#menusx{
/*	position:fixed */
	float:left;
	width:25%;
	max-width:50%;
	margin:4px 7px 3px 0; 
	padding:3px 0 3px 3px;
	border:solid #1F3D5A 1px ; 
	min-height:340px;
/*	-moz-border-radius: 5%;
	-webkit-border-radius: 5%; */
}


div#menusx ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
div#menusx li.voce {
	padding:2px 3px 2px 5px;  
	font-size:80%;
}

.menuvoce{
	padding:2px 3px 2px 5px;  
	font-size:80%;
}

h4.menusx{
	border-bottom:1px solid #D4D0BC;
	color:#1F3D5A;
	padding:10px 0 0 0;
	margin:0 10px 0 10px;
}

h5.menusx{
	border-bottom:1px solid #D4D0BC;
	color:#1F3D5A;
	padding:10px 0 0 0;
	margin:0 10px 0 10px;
	font-weight:normal;
}

.menuseparatore{
	margin:4px 5px 3px 0; 
	padding:2px 3px 2px 5px;  
	font-size:80%;
}

/* PREFOOTER */
div#prefooter{
	position:relative;	
	width:100%;
	font-size:75%;
}


/* VALIDATORI */
#validate{
	float:left;
	text-align:center;
	top:-5px;
}

/* DATE MODIFICA */
#datamodifica{
	float:right;
	text-align:right;
}


/* FOOOTER */
div#footer{
	clear:both;
/*	float:center;*/
	width:100%;
	margin:2px 0 0 0;
	padding:5px 0 4px 0;
	border-top-style:solid;
	border-color:#fff;
	height:2px;
	text-align:center;
	font-size:80%;
}
	div#footer A:link {text-decoration:none;color:#607D91; font-weight:normal;}
	div#footer A:visited{text-decoration:none; color:#607D91; font-weight:normal;}
	div#footer A:active {text-decoration:none; color:#1F3D5A;}
	div#footer A:hover	{text-decoration:none; color:#1F3D5A;}





/* CONTENUTO */
div#contenuto{
	float:left; 
	margin: 5px 5px 5px 5px; 
	width:72%;
}

/* FORM */

FORM{
	margin: 0 0 10px 0 ;
	padding: 0 } 

/* CERCA */


TABLE.cerca{
	border-width: 0 0 0 0;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom:-10px;
	padding:0 0 0 0;

}

TD.cerca {
	text-decoration: none; 
	font-style: italic; 
	font-size: 12px;
	border-width: 0 0 0 0;
	border-spacing: 0;
	border-collapse: collapse;
}

OPTION.cerca {
	text-decoration: none; 
	font-style: normal; 
	font-size: 12px;
}

SELECT.cerca {
	text-decoration: none; 
	font-style: normal; 
	font-size: 12px;
}

INPUT.cerca {
	text-decoration: none; 
	font-style: normal; 
	font-size: 12px;
}

/* LINK NORMALI */
div#corpo A:link {text-decoration:none;color:#1066ad; font-weight:bold;}
div#corpo A:visited	{text-decoration:none; color:#fff; font-weight:bold;}
div#corpo A:active {text-decoration:underline; color:#1F3D5A;}
div#corpo A:hover	{text-decoration:underline; color:#1F3D5A;}

/* LINK SU BACKGROUND */
div#corpo A.bglight:link 	{text-decoration:none;color:white; font-weight:bold;}
div#corpo A.bglight:visited	{text-decoration:none; color:#D4D0BC; font-weight:bold;}
div#corpo A.bglight:active	{text-decoration:underline; color:white; }
div#corpo A.bglight:hover	{text-decoration:underline; color:white; font-weight:bold;}


/* LINK PER L'ACCESSIBILITA' */
a.accessibility {
	text-decoration:none;
	color:#1F3D5A;
	padding:1px;
	border:solid 1px #1F3D5A; 
	font-weight:bold;
}

a.accessibility:link{}
a.accessibility:visited{}
a.accessibility:active{}
a.accessibility:hover{background-color:#607D91;color:white;}

.Asmall {font-size:8px; background-color:#D4D0BC;margin-right:1px;}
.Amedium{font-size:11px;background-color:white;  margin-right:1px;}
.Alarge	{font-size:14px;background-color:#D4D0BC;margin-right:1px;}
.Axlarge{font-size:18px;background-color:#D4D0BC;margin-right:1px;}


/* TIPI LINK DIVERSI */
a.external, a.external:link, a.external:visited, a.external:active, a.external:hover {
	background: url(img_css/external.png) right center no-repeat;
	padding-right: 14px;
}
a.image, a.image:link, a.image:visited, a.image:active, a.image:hover {
	background: url(img_css/image.gif) right center no-repeat;
	padding-right: 12px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
	background: url(img_css/newwindow.png) right center no-repeat;
	padding-right: 14px;
}

/* TABELLE */

div#corpo table {
	border-width: 0 0 0 0;
	border-spacing: 0;
	border-collapse: collapse;
}

div#corpo td {vertical-align:top;} 


table.intra {
	border-width: 0 0 0 0;
	border-spacing: 0;
	border-style: outset outset outset outset;
	border-color: #D4D0BC #D4D0BC #D4D0BC #D4D0BC;
	border-collapse: collapse;
}

table.intra td {
	border-width: 0 0 1px 0;
	padding: 5px 5px 5px 5px;
	border-style: solid solid solid solid;
	border-color: #D4D0BC #D4D0BC #D4D0BC #D4D0BC;
}

table.ateneo {
	border-width: 0 0 0 0;
	border-spacing: 0;
	border-style: outset outset outset outset;
	border-color: #685D49 #685D49 #685D49 #685D49;
	border-collapse: collapse;
}

table.ateneo td {
	border-width: 0 0 1px 0;
	padding: 5px 5px 5px 5px;
	border-style: solid solid solid solid;
	border-color: #D4D0BC #D4D0BC #D4D0BC #D4D0BC;
	text-align:left;
}

table.border  { 
	margin:0 auto;
	border-width: thin;
	border-style: solid;
	border-collapse: collapse; 
}

table.border td{ 
border-width: thin;
border-style: solid; 
}

.rigatop {
	padding:5px 0 0 0;
	border-width:1px;
	border-top-style:solid;
	border-color:#000;
}

.rigabottombig{
	width:100%;
	border-bottom:3px solid #1F3D5A;
	padding: 3px 0 5px 0;
	vertical-align:top;
	text-align:justify;
}

.riga{
	padding: 3px 3px 5px 3px;
	vertical-align:top;
}

.rigagrossavuota{
	border-bottom: 3px solid #1F3D5A;
	padding: 3px 0 5px 0;
	vertical-align:top;
	font-size:0.2em
}

.rigasottile{
	border-bottom: 1px solid #D4D0BC;
	padding: 7px 6px 5px 6px;
	vertical-align:top;
}

.rigagrossa{
	border-bottom: 3px solid #1F3D5A;
	padding: 5px 6px 15px 6px;
	vertical-align:top;
}
.rigagrossa2{
	border-bottom: 2px solid #1F3D5A;
	padding:5px 6px 0 6px;
	vertical-align:top;
	margin: 0 0 6px 0;
}
.rigasottile2{
	border-bottom: 1px solid #607D91;
	padding: 3px 3px 5px 3px;
	vertical-align:top;
}
.rigasottilevuota{
	border-bottom: 1px solid #D4D0BC;
	padding: 3px 3px 5px 3px;
	vertical-align:top;
	font-size:0.2em
}

.bglight{
	background-color:#607D91;
	border-bottom: 1px solid #D4D0BC;
	margin: 15px 2px 0 15px;
	padding: 5px 2px 5px 5px;
	color:white;
	font-weight:bold;

}
.sezione{
	border-top: 1px solid #D4D0BC;
	margin: 0 2px 0 15px;
	padding:15px 2px 5px 10px;
}
.ripartizione{
	margin: 15px 2px 0 20px;
	padding: 0 2px 10px 20px;
	font-size:85%;
}


/* TABELLE STAFF */
td.con {
	padding:5px 3px 3px 3px;
	border:solid #607D91 2px;
	text-align:center;
	font-size:0.875em
}
td.dx {
	border-right:solid #607D91 2px;
}
td.botdx {
	border-bottom:solid #607D91 2px;
	border-right:solid #607D91 2px;
}
td.bot {
	border-bottom:solid #607D91 2px;
}


/* TITOLI */
h1, h2, h3, h4 {
	font-weight:bold; 
	color:#1F3D5A; 
	margin-bottom:5px;
}
h1 {font-size:1.25em;}
h2 {font-size:1.125em;}
h3 {font-size:1em;}
h4 {font-size:0.875em;} 
h5 {font-size:0.875em;} 

h1.phone, h2.phone, h3.phone, h4.phone{
	border-bottom:1px solid #1F3D5A;
	color:#1F3D5A;
	margin-bottom:5px;
}

.border_bot{
	border-bottom:1px solid #1F3D5A;
	padding:2px 2px 2px 2px;
	margin:5px 0 2px 0;
/*	text-align:center;*/
}

.titolettocontent{
	font-style:italic;
}


/* AVVISI */
.avvisi {
	width:75%; 
	margin:auto;
	border:2px solid #1F3D5A ; 
	padding:10px 10px 10px 10px;
}

/* IMMAGINI */
img{border:none;}


/* VIDEO */

h4.videomenu{
	border-bottom:1px solid #D4D0BC;
	color:#1F3D5A;
	padding:5px 0 5px 0;
	margin:0 5px 0 0;
}
h3.videotitolo{
/*	border-bottom:1px solid #D4D0BC; */
/*	color:#1F3D5A; */
	padding:5px 0 5px 0;
	margin:0 0 0 0;
}



div.posizione_videomenu_sx{
	float:left;
	width:20%;
}

div.posizione_videofilmato_dx{
	margin:0 5px 0 0;
	float:left;
}

div.videomenu{
	width:13.75em;
	min-width:48%;
	margin:3px 4px 3px 4px;
	float:left;
	font-size:80%;
}

div.videomenuimg{
	float:left;
	border:1px solid #685D49;
	padding:2px 2px 2px 2px;
	margin:0 3px 0 0;
	width:104px;
	height:59px;
}

div.videomenu3{
	width:6.75em;
	width:108px;
	margin:3px 4px 3px 4px;
	float:left;
	font-size:80%;
}

div.videomenuimg3{
	border:1px solid #685D49;
	padding:2px 2px 2px 2px;
	margin:0 0 0 0;
	width:104px;
	height:59px;
}


/* SPAN */
span.label{font-size:85%;}
span.titoloimg{
	font-weight:bold;
	font-size:1em;
	color:#607D91;	
}

span.coloralmalaurea{color:#000080;}

/* CODE, PRE */
div#corpo code, div#corpo pre {font-size:16px;} 

/* PHONE BOOK processi e motore ricerca*/
div.elencoFunzioni{
	margin-left:0;
	margin-bottom:14px;
}

div.titoloFunzione{
	margin-top:8px;
	margin-left:15px;
/*	font-size:85%;*/
}

div.funzione{
	margin-top:2px;
	margin-left:40px;
	font-size:95%;
}

div.titoloStruttura{
	margin-top:8px;
	margin-left:15px;
/*	font-size:85%;*/
}

	A.funzione:link {text-decoration:none;color:red}
	A.funzione:visited {text-decoration:none; color:#685D49}
	A.funzione:active {text-decoration:underline;}
	A.funzione:hover {text-decoration:none;}


/* */
.etichettanowrap { 
	font-size:85%;
	margin-right:5px;
	white-space: nowrap;
}
.etichetta { 
	font-size:85%;
	margin-right:5px;
}

.etichettanormal { 
	font-size:85%;
	margin-right:5px;
	font-weight:normal;
}

.ateneo{
	border-width: 0 0 1px 0;
	padding: 5px 5px 0 5px;
	border-style: solid solid solid solid;
	border-color: #D4D0BC #D4D0BC #D4D0BC #D4D0BC;
	text-align:left;
	font-size: 0.875em 
/*	font-size: 90% */

}


.backlinks{font-size:80%;}





/* ALLINEAMENTO TESTI */
.centro{text-align:center;} 
.destra{text-align:right;} 
.sinistra{text-align:left;} 
.giustificato{text-align:justify;} 
.nowrap {white-space: nowrap;}



/* COLORI */

.colorRed {color:red;}
.colorGreen {color:green;}
.colorGray {color:gray;}

/*
BLU		= "#1F3D5A";	// blu
GRIGIO		= "#685D49";	// grigio
BLU_light	= "#607D91";	// blu light
GRIGIO_light	= "#D4D0BC";	// grigio
*/


