/*
Sba
Content CSS
$Revision: 1.2 $
*/

#content {
	background-color: #ffffff;
	margin-left: 180px;
	margin-right: 10px;
	padding: 20px 15px 10px 30px;
	min-height: 400px;
	height: auto !important;
	height: 400px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #a0b2bf;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #a0b2bf;
}

#briciole {
	width: 210px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #a0b2bf;
	margin-bottom: 10px;
	padding: 0px 0px 8px;
}
