/*
Sba
Footer CSS
$Revision: 1.1 $
*/

#footer {
	position: relative;
	font-size: 90%;
	clear: left;
	margin-left: 160px;
	margin-right: auto;
}

#indirizzo {
	clear: left;
	margin: 10px 170px 20px 170px;
	text-align: center;
}

#testo {
	clear: left;
	margin: 0px 170px 0px 170px;
	text-align: center;
}

/*logotipo a non si pu inserire se il sidebar supera la lunghezza del contenuto */
#logotipo_a {
	position: absolute;
	
	left: 20px;
	width: 123px;
}

#logotipo_b {
	position:absolute;
	/*top: 20px;*/
	top: 0px;
	right: 10px;
	width: 123px;
	text-align: right;
}
