/* 
Eut 
global CSS
$Revision: 1.1 $ 
*/

/*COMMENT {
	Comportamento: 
}*/
/*P {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Comic Sans MS
}*/

/* 
body {
	FONT-SIZE: 10px; 
	}
*/	
/*
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Comic Sans MS
}
*/
A:link,  {
	 COLOR: blue;
}
A:visited {
	COLOR: purple;
}
A:hover {
	COLOR: red; TEXT-DECORATION: none;
}

B {
	FONT-WEIGHT: bold;
}
I {
	FONT-STYLE: italic;
}
body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Verdana, Arial, Helvetica, Comic Sans MS;
	font-size: 70%;
	background-image:url(../images/top.gif);
	background-repeat: repeat-y;
	background-color: #DFE5E9;
}




/* il testo viene viene sempre racchiuso all'interno di p */
p {
		margin-top: 0px;
		margin-bottom: 4px;
	}

h2,h3,h4 {
	font-weight: bold;
	/*color: #2979AF;*/
	margin-top: 0px;
	margin-bottom: 0px;
}


/* per differenziare h1,2,3,4 associare una class */

/* per il titolo ad inizio pagina */
h1 {
	
	font-size: 140%;
	font-weight: bold;
	/*color: #2979AF;*/
	margin-top: 0px;
	margin-bottom: 5px;
	
}

/* per i titoli interni */
h2 {
	font-size: 100%;
	
}

/* per i titoli di un livello inferiore */
h3 {
	font-size: 110%;
}

/* per i titoli di un ulteriore livello inferiore */
h4 {
	font-size: 120%;
	margin-top: 0px;
	margin-bottom: 0px;
}


/*
COMMENT {
	Comportamento: 
}
A.menu:link {
	FONT-SIZE: 10px; COLOR: black; FONT-STYLE: normal; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-SIZE: 10px; COLOR: black; FONT-STYLE: normal; TEXT-DECORATION: none
}
A.menu:active {
	FONT-SIZE: 10px; COLOR: #ccffff; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A.menu:hover {
	FONT-SIZE: 10px; COLOR: #ffffcc; FONT-STYLE: normal; TEXT-DECORATION: none
}
B.menu {
	FONT-SIZE: 10px; COLOR: black; FONT-STYLE: normal; TEXT-DECORATION: none
}
COMMENT {
	Comportamento: 
}
A.hpmenu:link {
	FONT-SIZE: 10px; COLOR: black; FONT-STYLE: normal;
}
A.hpmenu:visited {
	FONT-SIZE: 10px; COLOR: #6e6e6e; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A.hpmenu:active {
	FONT-SIZE: 10px; COLOR: purple; FONT-STYLE: normal; TEXT-DECORATION: underline
}
A.hpmenu:hover {
	FONT-SIZE: 10px; COLOR: #a43538; FONT-STYLE: normal; TEXT-DECORATION: none
}
B.hpmenu {
	FONT-SIZE: 10px; COLOR: black; FONT-STYLE: normal; TEXT-DECORATION: none
}
COMMENT {
	Comportamento: 
}
A.hptabs:link, A.hptabs:visited, A.hptabs:active, A.hptabs:hover, SPAN.hptabs {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-STYLE: normal; TEXT-DECORATION: none
}
COMMENT {
	Comportamento: 
}
A.tabs:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, Comic Sans MS; TEXT-DECORATION: none
}
A.tabs:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, Comic Sans MS; TEXT-DECORATION: none
}
A.tabs:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ccffff; FONT-STYLE: normal; TEXT-DECORATION: underline; f: Verdana, Arial, Helvetica, Comic Sans MS
}
A.tabs:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffcc; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, Comic Sans MS; TEXT-DECORATION: none
}
COMMENT {
	Comportamento: 
}
A.hlink:link {
	FONT-SIZE: 10px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, Comic Sans MS; TEXT-DECORATION: none
}
A.hlink:visited {
	FONT-SIZE: 10px; COLOR: #6e6e6e; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, Comic Sans MS; TEXT-DECORATION: none
}
A.hlink:active {
	FONT-SIZE: 10px; COLOR: #ff6666; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, Comic Sans MS; TEXT-DECORATION: none
}
A.hlink:hover {
	FONT-SIZE: 10px; COLOR: #ff6666; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, Comic Sans MS; TEXT-DECORATION: none
}
B.hlink {
	FONT-SIZE: 10px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, Comic Sans MS; TEXT-DECORATION: none
}
COMMENT {
	Prove: 
}
COMMENT.main {
	COLOR: gray; FONT-STYLE: italic
}
COMMENT.link {
	COLOR: white; TEXT-DECORATION: none
}
COMMENT.menu {
	COLOR: gray; FONT-STYLE: italic; TEXT-DECORATION: none
}
*/
