.newslist_titolo {
	color: #ffffff;
	font-weight: bold;
	background-color: #2979AF;
	padding: 10px 10px 0.35em 10px ;
	margin-bottom: 0px; 
}

.newslist_avvisi {
	border-left: solid 1px #2979AF;
	border-right: solid 1px #2979AF;
	border-top: solid 1px #2979AF;
	padding: 0.35em 10px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.newsitem {
	display: inline;
	margin-top: 0px;
        margin-bottom: 0px;
}

.newsitem a {
	text-decoration: none;
}

.newsitem_insertiondate {
}

.newsitem_titolo {
	font-weight: bold;
}

.newsitem_pagina {
/*	display: none; */
}

.newsitem_testo {
}

.sezione_testonews {
	margin-bottom: 0px;
	margin-top: 0px;
	vertical-align: top;
	color: #ff0000;
	font-weight: bold;
	border: solid 1px #2979AF;
	padding: 0.35em 10px;
}

h1.sezione_titolonews,h2.sezione_titolonews {
	color: #ffffff;
	background-color: #2979AF;
	padding: 0.35em 10px;
	margin-bottom: 0px;
}


