/*
Sba
Sezione CSS
$Revision: 1.2 $
*/

/* sezione */ 
.sezione {
	margin-bottom: 10px;
	vertical-align: top;
	position: relative;
	/*min-height: 70px;
	height: auto !important;
	height: 70px;*/
	
}
/* per evitare che l'immagine vada a sovrapporsi alla sezione sotto inserire l'hr subito prima della chiusura del div sezione */
/*div.sezione hr {display: block; clear: left; margin: -0.66em 0;
  visibility: hidden;}
*/

/* sezione_immagine */
.sezione_immagine {
	float: left;
	margin-bottom: 0px;
}

/* sezione_contenuto */
.sezione_contenuto {
	margin-left: 70px;
	padding: 0 0 0 10px;
}

/* classi da associare a h1, p  */
.sezione_titolo {
	}
.sezione_testo {
}
.monospace {
	font-family: "Courier New", Courier, mono;
}
div.clearer {
	clear: left; 
	line-height: 0; 
	height: 5px;
}
	
.sezione .modifica select {
	float: right;
}

.sezione .sezione_immagine select {
	width: 70px;
}

