/*
Eut
Sidebar CSS
$Revision: 1.3 $
*/

#sidebar {
position: absolute; 
font-size: 100%;
top: 0px;  
left: 0px;
width: 160px;
padding-left: 10px;
padding-right: 10px;
/*background-color: #a0b2bf;*/
}


#etichetta {
	color: #000000;
	position:relative;
	display: block;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a0b2bf;
	background: #2C75AB;
	/*position:relative;
	display: block;
	vertical-align: middle;
	width: 154px;
	color: #ffffff;
	text-align: left;
	padding: 6px;
	font-size: 160%;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;*/
	}
	
#etichetta a {
	color: #ffffff;
	text-decoration: none;
	}


/* primo livello menu navbar (esempio polo principale) */		
.navbar1lev, a.navbar1lev:link, a.navbar1lev:visited, a.navbar1lev:active {
	color: #000000;
	position:relative;
	display: block;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a0b2bf;
	}
		
/* hover e class che identifica il link della pagina attuale */
a.navbar1lev:hover, 
.navbar1levhover, a.navbarhover1lev:link, a.navbarhover1lev:visited, a.navbarhover1lev:visited, a.navbarhover1lev:hover{
	color: #ffffff;
	/* parte uguale al menu sopra */
	position:relative;
	display: block;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a0b2bf;
	}
				
/* secondo livello menu sidebar (esempio economia) */
a.navbar2lev:link, a.navbar2lev:visited, a.navbar2lev:active {
	color: #000000;
	position:relative;
	display: block;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	text-align: left;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a0b2bf;
	}
/* hover e class che identificano il link della pagina attuale */
a.navbar2lev:hover, 
.navbarhover2lev, a.navbarhover2lev:link, a.navbarhover2lev:visited, a.navbarhover2lev:hover, a.navbarhover2lev:active     {
	color: #ffffff;
	/* parte uguale al menu sopra */
	position:relative;
	display: block;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	text-align: left;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a0b2bf;
	}
	
	
/* terzo livello menu sidebar (esempio economia) */
a.navbar3lev:link, a.navbar3lev:visited, a.navbar3lev:active {
	color: #000000;
	position:relative;
	display: block;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 18px;
	text-align: left;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a0b2bf;
	}
/* hover e class che identificano il link della pagina attuale */
a.navbar3lev:hover, 
.navbarhover3lev, a.navbarhover3lev:link, a.navbarhover3lev:visited, a.navbarhover3lev:hover, a.navbarhover3lev:active     {
	color: #ffffff;
	/* parte uguale al menu sopra */
	position:relative;
	display: block;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 18px;
	text-align: left;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a0b2bf;
	}
				