/*
Sba
Home_page CSS
$Revision: 1.1 $
*/

#home_sidebar {
	position: absolute;
	/*left: 10px;*/
	background-color: #ffffff;
	height: 300px;
	width: 162px;
	border: 1px solid #999999;
}
#home_immagine {
	position: relative;
	width: 162px;
	clear: left;
}

#home_testo {
	position: relative;
	padding: 10px;
	width: 142px;
	
}
