<html><head>

 

    
        <title>Comune di Treviglio: servizi tramite carta Regionale dei Servizi - CRS</title>
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--        <meta http-equiv="imagetoolbar" content="no" />-->
        <link rel="shortcut icon" href="https://servizionline.comune.treviglio.bg.it/favicon.ico">        
        <link href="index_files/treviglio.css" rel="stylesheet" type="text/css">
        
<!--        <link rel="stylesheet" href="/JFrontend/css/style.css" type="text/css" />-->
<!--        <link rel="stylesheet" href="/JFrontend/css/layout.css" type="text/css" />-->
<!--        <link rel="stylesheet" href="/JFrontend/css/color.css" type="text/css" />-->
<!--        <link rel="stylesheet" href="/JFrontend/css/demografici/demografici.css" type="text/css" />-->
        <script type="text/javascript" language="javascript">
            var contextpath="/JFrontend";
        </script>
        <script type="text/javascript" language="JavaScript" src="index_files/utility.js"></script>
        <script type="text/javascript" language="JavaScript" src="index_files/CalendarPopup.js"></script>
    </head><body>
    
    
    <div id="testataTreviglio">
      <div id="imgSXTreviglio">
        <a href="http://www.comune.treviglio.bg.it/"><img id="imgTestataSxTreviglio" alt="Stemma e logo del comune di Treviglio" src="index_files/testata.gif" border="0"></a>
      </div><!-- id = imgSXTreviglio XXXX class =  -->
    </div>
    <div id="barraInformativa">
      <ul class="menuOrizzontaleSX">
        <li>
          <a tabindex="tabindex" href="https://servizionline.comune.treviglio.bg.it/JFrontend">
            <img alt="vai alla home page dei servizi CRS" src="index_files/bullet.gif" border="0">
            <span>home CRS</span>
          </a>
        </li>
        <li>
          <a tabindex="1" href="mailto:segreteria.sindaco@comune.treviglio.bg.it">
            <img alt="vai allla pagina dove puoi inviare messaggi al comune" src="index_files/bullet.gif" border="0">
            <span>contattaci </span>
          </a>
        </li>
        <li>
          <a tabindex="2" href="http://www.comune.treviglio.bg.it/index.php?pagina=forum">
            <img alt="vai al forum" src="index_files/bullet.gif" border="0">
            <span>forum</span>
          </a>
        </li>
        <li>
          <a tabindex="3" href="http://www.comune.treviglio.bg.it/index.php?pagina=newsletter">
            <img alt="vai alla newsletter" src="index_files/bullet.gif" border="0">
            <span>newsletter</span>
          </a>
        </li>
      </ul>
      <span>Sede comunale: piazza L. Manara 1, 24047 Treviglio (BG) - tel. 0363/3171 - fax 0363/317309 - P. IVA: 00230810160 </span>
    </div>    
    <div style="text-align: left; margin-left: 5px; margin-top: 3px;">
        
            
            <br>
        
    </div>                
       <div id="pageFrame">
               
                  
                  
					<div style="font-size: 14px; font-weight: bold;">
						Servizi tramite Carta Regionale dei Servizi (CRS) <a href="http://www.regione.lombardia.it/" target="_blank"> <img src="index_files/logoRL.gif" alt="Regione Lombardia" style="margin-left: 10px;" width="100px" border="0"></a>
					</div>
					<div>
						<br>
						Prima di utilizzare i servizi è necessario che la postazione sia correttamente configurata: <a href="http://www.crs.regione.lombardia.it/wps/portal/_s.155/5706?" target="_blank">verifica la tua configurazione cliccando qui</a>
						<br>
Per utilizzare i servizi è necessario inserire la propria Carta
Regionale dei Servizi nel lettore di smart card installato sul proprio
Personal Computer. </div>
					<div>                                    
                    <ul>
                        <li><a href="https://servizionline.comune.treviglio.bg.it/JFrontend/ElencoServiziDemografici">Servizi al cittadino</a></li>
                        <li><a href="https://servizionline.comune.treviglio.bg.it/JFrontend/ElencoServiziFinanziari">Servizi alle imprese</a></li>
                        
                            
                                                        
                    </ul>
                    </div>
                  
              
                     <!-- end centered div -->
			<div id="piedipagina">
			      <ul>
			        <li>
			          <a tabindex="1000" href="https://webmail.comune.treviglio.bg.it/">webmail</a>
			          <span> | </span>
			        </li>
			        <li>
			          <a tabindex="1001" href="http://www.comune.treviglio.bg.it/index.php?pagina=personalizzazioni">personalizzazioni</a>
			          <span> | </span>
			          <a tabindex="1002" href="http://www.comune.treviglio.bg.it/index.php?pagina=tastiAccessoRapido">accesso rapido</a>
			          <span> | </span>
			        </li>
			        <li>
			          <a tabindex="1003" href="http://www.comune.treviglio.bg.it/index.php?pagina=mappadelsito">mappa del sito</a>
			          <span> | </span>
			        </li>
			        <li>
			          <a tabindex="1004" href="http://www.comune.treviglio.bg.it/index.php?pagina=accessibilita">accessibilità</a>
			          <span> | </span>
			        </li>
			        <li>
			          <a target="_blank" tabindex="1003" href="http://www.comune.treviglio.bg.it/index_priv.php">area privata</a>
			        </li>
			      </ul>
			</div>
       </div>        
    </body></html>